.admin-product-list {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    .search-input {
      width: 100%;
      padding: 8px;
      margin-bottom: 15px;
      border: 1px solid #301616;
      border-radius: 5px;
    }
    .btn-status {
      padding: 8px 16px;
      font-size: 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    
      &.btn-list {
        background-color: #28a745;  // Zielony kolor dla "Wystaw"
        color: white;
      }
    
      &.btn-block {
        background-color: #5935dc;  // Czerwony kolor dla "Zablokuj"
        color: white;
      }
    
      &:hover {
        opacity: 0.9;
      }
    }
    
    .success-message {
      background-color: #28a745;
      color: white;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      font-weight: bold;
      text-align: center;
    }
    
    .btn-back {
      background: #333;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-bottom: 20px;
      display: block;
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
      }
  
      th {
        background: #f4f4f4;
      }
    
      .btn-block {
        background: rgb(76, 0, 255);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        &:hover {
          background: darkred;
        
        }
      }
      .btn-delete {
        padding: 8px 16px;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s;
        background: #dc3545; // Czerwony kolor jak w Bootstrap
        color: white;
      
        &:hover {
          background: darkred;
          opacity: 0.9;
        }
      
        &:active {
          background: #a71d2a;
          transform: scale(0.95);
        }
      }
      
  
  @media (max-width: 768px) {
    .admin-product-list {
      padding: 10px;
  
      table {
        font-size: 14px;
  
        th, td {
          padding: 8px;
        }
      }
    }
  }
}
}