.lacquer-shop {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Cztery kolumny w jednym rzędzie */
  gap: 20px;
  padding: 50px;
  justify-content: center;
  margin-bottom: 50%;
  margin-top: 7%;
  
  .lacquer-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    .lacquer-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  
    .lacquer-brand {
      font-weight: bold;
      margin-top: 10px;
      color: #333;
  
      span {
        font-weight: normal;
        color: #666;
      }
    }
  }
}

// Obsługa responsywności
@media (max-width: 1024px) {
  .lacquer-shop {
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny dla średnich ekranów */
    margin-top: 10%;
  }
}

@media (max-width: 768px) {
  .lacquer-shop {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* 1-2 kolumny dla małych ekranów */
    margin-top: 20%;
  }
}
