$primary-color: #4CAF50;  // Zielony - główny kolor
$secondary-color: #45a049; // Ciemniejszy zielony - przyciski akcji
$background-color: #f4f4f4; // Tło strony
$text-color: #333; // Kolor tekstu
$button-background: white; // Tło przycisków
$button-text: $primary-color; // Tekst na przyciskach

// Dodatkowe kolory dla statusów zamówień
$success-color: #28a745; // Zielony - zrealizowano
$error-color: #dc3545; // Czerwony - anulowano
$info-color: #007bff; // Niebieski - napisanie wiadomości
$border-color: #ddd; // Kolor obramowania
$background-light: #ffffff; // Jasne tło dla kart

// Media queries
$breakpoint-mobile: 768px;

// Fonty
$font-family: Arial, sans-serif;
$light-gray: #d3d3d3; // Dodana zmienna
// variables.scss
$seller-color: #ff5733; // przykładowa wartość
// variables.scss
$customer-color: #3498db; // przykładowa wartość
